.App {
  text-align: center;
  margin: 20px;
  display: flex;
  height: 90vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  padding-left: 20px;
  min-height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-left: solid 50px black;
  color: rgba(255, 255, 255, 0.582);
  transition: .2s ease-in-out;  
}
.App-header:hover{
  border-left: solid 2px rgb(12, 12, 12);
}
.App-header a{
  width: fit-content;
}
.App-header p{
  color: rgb(255, 255, 255);
  font-weight: 100;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 20px;
  padding: 20px 20px 20px 100px;
  margin-left: -90px;
  text-decoration: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgb(11, 11, 11);
}

h4{
  color: rgb(231, 183, 255);
  font-weight: 400;
  max-width: 400px;
  text-transform: uppercase;
  font-size: 40px;
}
h5{
  color: rgba(255, 255, 255, 0.582);
  font-weight: 100;
  width: 150px;
  letter-spacing: 3px;
  font-size: 35px;
  color: white;
  text-decoration: none;
}
.dropdown-container:hover ~ .App-header p {
  border: solid 1px rgb(66, 66, 66);
  border-left: none;
  transition: .5s ease-in-out;

}
.dropdown-container:hover{
  border: solid 1px rgb(66, 66, 66);
  transition: .5s ease-in-out;
}
